select {
  font-size: 18px;
  border-radius: 5px;
  padding: 5px;
  background-color: #faebd7;
}

.cerrar-sesion {
  display: flex;
  justify-content: center;
  width: 150px;
  height: 70px;
  background-color: #ff1c1c;
  border-radius: 50px;
  margin-right: 2em;
}

.cerrar-sesion a {
  font-size: 18px;
  display: flex;
  color: white !important;
  text-decoration: none;
}

.submenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

label[for="categorias"] {
  font-size: 18px;
}
