* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    padding: 0;
    margin: auto;
}

.series,
.peliculas {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    font-size: 1.5em;
    text-align: center;
}

.series img,
.peliculas img {
    height: 300px;
}

.series a,
.peliculas a {
    text-decoration: none;
    color: #000;
}

.series a:hover,
.peliculas a:hover {
    color: #0000ff7c;
}

.category {
    background-color: red;
    border-radius: 50px;
    width: 550px;
    height: 70px;
    color: white !important;
    padding: 15px;
    margin-left: 14px;
}

input {
    font-size: 18px;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    margin-left: 15px;
    margin-bottom: 15px;
    background-color: antiquewhite;

}

select {
    font-size: 18px;
    border-radius: 5px;
    padding: 5px;
    background-color: antiquewhite;
}

.cerrar-sesion {
    display: flex;
    justify-content: center;
    width: 150px;
    height: 70px;
    background-color: red;
    border-radius: 50px;
    margin-right: 1em;
}

.cerrar-sesion a {
    font-size: 18px;
    display: flex;
    color: white !important;
    text-decoration: none;
}

.submenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

label[for="categorias"] {
    font-size: 18px;
}

.sermov {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    gap: 30px;
    justify-items: center;
}

img {
    width: 250px;
    height: 300px;
}

img:hover {
    border-radius: 50px;
}